In [1]:
import pandas as pd
import numpy as np

Задание 1. Создать объект Series из списка чисел [1, 2, 3] с метками [a, b, c] и вывести его на печать.

In [2]:
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(s)

a    1
b    2
c    3
dtype: int64

Задание 2. Создать объект Series из словаря {'a': 1, 'b': 2, 'c': 3} и вывести его на печать.

In [3]:
my_list = {'a': 1, 'b': 2, 'c': 3}
s = pd.Series(my_list)
print(s)

a    1
b    2
c    3
dtype: int64

Задание 3. Создать объект массива NumPy arr = [1, 2, 3, 4, 5] , затем из него создать объект Series и вывести его на печать.

In [4]:
my_array = np.array([1, 2, 3, 4, 5])
s = pd.Series(my_array)

print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int32

Задание 4. Создать объект Series с заполнением по умолчанию значением 0 и метками [a, b, c] и вывести его на печать.

In [5]:
s = pd.Series(0, index=['a', 'b', 'c'])
print(s)

a    0
b    0
c    0
dtype: int64

Задание 5. В первой строке ввода с клавиатуры поступает строка с символами разлепленными пробелом, во второй строка с целыми числами. На их основе создать список кортежей и из него объект Series, вывести его на печать.

In [6]:
str1 = input("Введите символы, разделенные пробелом ")
str2 = input("Введите целые числа ")
s1 = tuple(str(item) for item in str1.split(' '))
s2 = tuple(int(item) for item in str2.split(' '))
my_list = list(zip(s1, s2))
s = pd.Series(my_list)
print(s)

Введите символы, разделенные пробелом qw eqwe qwe
Введите целые числа 1 2 3 4
0      (qw, 1)
1    (eqwe, 2)
2     (qwe, 3)
dtype: object

Задание 6. На вход поступает строка слов, разделенных пробелом. Создать на ее основе объект Series с метками 0, 1, 2,... Вывести его на печать.

In [7]:
str1 = input("Введите слова, разделенные пробелом ")
s1 = tuple(str(item) for item in str1.split(' '))
s = pd.Series(s1)
print(s)

Введите слова, разделенные пробелом wolf dog cat
0    wolf
1     dog
2     cat
dtype: object

Задание 7. На вход поступает последовательность из чисел 0 и 1, разделенных пробелом. Создать на ее основе объект Series, содержащий булевы значения True (1) , False (0) c метками [a, b, c, d,...]

In [8]:
s = input()
list = s.split()
bool_list = [bool(int(x)) for x in list]
print(bool_list)
st = pd.Series(bool_list)
st = st.rename(lambda x: chr(97 + x))
print(st)

0 1 0 1 1
[False, True, False, True, True]
a    False
b     True
c    False
d     True
e     True
dtype: bool

Задание 8. Создать объект Series из списка дат ['2022-01-01', '2022-01-02', '2022 01-03'] , вывести его на печать. Даты в объекте Series должны быть представлены объектами datetime стандартной библиотеки языка программирования Python.

In [9]:
s = pd.Series(data = pd.date_range('2022-01-01', periods=3))
print(s)

0   2022-01-01
1   2022-01-02
2   2022-01-03
dtype: datetime64[ns]

Задание 9. На вход подаются два целых числа n и m через пробел. На их основе создать объект Series с числами от n до m (включительно) с шагом 10 и метками [1, 3, 5, 7,...] . Вывести его на печать.

In [12]:
a = int(input("Начальное число: "))
b = int(input("Конечное число: "))
st = pd.Series(range(a, b + 1, 10))
st = st.rename(lambda x: int(1 + 2*x))
print(st)

Начальное число: 1
Конечное число: 52
1      1
3     11
5     21
7     31
9     41
11    51
dtype: int64

Индивидуальное задание. Создать объект Series из словаря, содержащего фамилию и имя спортсмена и длину его броска  , отсортировать словарь по длине броска  и вывести его на печать.

In [33]:
my_list = {
    "Павленко павел":'22',
    "Криворот Владимир":'19',
    "Данилин Даниил":'17',
    "Решетников Евгений":'25',
    "Райн Гослинг":'24',
    "Тайлер Дерден":'27'
}
st = pd.Series(my_list)
sorted_st = st.sort_values(ascending=False)
print(sorted_st)

Тайлер Дерден         27
Решетников Евгений    25
Райн Гослинг          24
Павленко павел        22
Криворот Владимир     19
Данилин Даниил        17
dtype: object